@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

body {
    background: url("images/IMG_3571.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}

h1 {
    color: turquoise;
    font-size: 70px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    margin: 1px;
}

#myform {
    display: flex;
    margin: 0 auto;
    width: 250px;
}

.container {
    margin-top: 15%;
}

.center-block {
    width: 500px;
}

ul {
    margin: .5em;
    padding-top: 1.5em;
    padding-bottom: 3em;
    padding-right: 30px;

}

#results {
    background-color: whitesmoke;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 5em;
}

li {
    margin: 5px;
}