@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@700&display=swap');

body {
    background: url("images/IMG_3571.jpg") no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    margin: 0;
}

h1 {
    color: turquoise;
    font-size: 70px;
    text-align: center;
    font-family: 'Epilogue', sans-serif;
    margin: 10px;
}

#myform {
    display: flex;
    margin: 0 auto;
    width: fit-content;
}

.container {
    margin-top: 15%;
}

.center-block {
    width: 50em;


}

ul {
    margin: .5em;
    padding-top: 1.5em;
    padding-bottom: 3em;
    padding-right: 30px;

}

#results {
    background-color: whitesmoke;
    margin-right: 10em;
    margin-left: 10em;
    margin-top: 3em;
    margin-bottom: 5em;
}

li {
    margin: 5px;
}

input {
    width: 80%;
    padding: 10px 10px;
    box-sizing: border-box;
}


/*small screen*/
@media screen and (max-width: 600px) {
    .center-block {
        width: 25em;
    }

    h1 {
        font-size: 50px;
    }

    #results {
        margin-left: 2em;
        margin-right: 2em;
    }

    img {
        float: left;
        padding-right: 2em;
        padding-bottom: 2em;
    }
}