body {
    margin: 1em;
    min-width: 250px;
}

ul {
    margin: .5em;
    padding: .5em;
}

ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
}